body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 280px !important;
  width: 85vw !important;
  max-width: 380px !important;
}

.glyph-red{
  color: RED;
}

.glyph-blue{
  color: BLUE;
}

.glyph-green{
  color: GREEN;
}

.glyph-red:hover{
  color: #cc0000;
}

.glyph-blue:hover{
  color: #000099;
}

.glyph-green:hover{
  color: #004d00;
}

.about{
  width: 100%;
  text-align: center;
}