.navbar-right{
    margin-right: 8px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-center{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.sidebar-name{
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 19px;
    font-family: "Arial", cursive, sans-serif;
}

.sidebar-button{
    width: 90%;
    margin: 5px 5%;
    padding: 10px 0;
    background: #76b852;
    color: white;
    font-size: 17px;
    font-family: "Arial", cursive, sans-serif;
}

.settings-form{
    position: relative;
    border-radius: 16px;
    margin: 0 50px;
    padding: 8px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #43A047;
}

.settings-form input{
    margin: 8px 0;
    font-weight: normal;
    font-size: 14px;
}

.settings-form button {
    outline: 0;
    background: #6fb54a;
    width: 100%;
    border: 0;
    font-weight: normal;
    border-radius: 14px;
    padding: 7px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.settings-form button:hover,
.settings-form button:active,
.settings-form button:focus {
    background: #43A047;
}