.dsh-row{
    margin: 10px 30px;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.dashboard{
    border-radius: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    margin: 30px;
    font-size: large;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 3px solid;
}

.single-dashboard{
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 2%;
    font-size: large;
    border: 3px solid;
}

.dsh-title {
    border-color: #76b852;
    background: #6fb54a;
    color: #f2f2f2;
    font-family: "Arial", cursive, sans-serif;
}

.dsh-add {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-color: #b7daa4;
    font-weight: bold;
    background: #64a343;
    color: #e6e6e6;
}

.list{
    color: #006600;
    background: #b7daa4;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 10px 10px 10px;
    margin: 16px 0;
    font-size: 16px;
    font-family: "Arial", cursive, sans-serif;
}

.list-title{
    background: transparent;
    text-align: center;
}

.inner-button{
    padding-left: 10px;
    padding-right: 10px;
}

.edit-input{
    border-radius: 6px;
    border-width: 0;
    color: #000;
}

.dsh-input{
    padding: 0 5px;
    background: white;
    font-size: 0.8em;
    width: 140px;
}

.list-input{
    padding: 0 5px;
    background: white;
    font-size: 0.9em;
    width: 140px;
}


.deleteDashboard{
    color: #ff704d;
    font-weight: bold;
}

/* Dragging styles */
ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] {
    min-height: 25px;
    padding-left: 0;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 36px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    margin-top: 8px;
}

ul[dnd-list] li {
    display: block;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


