.ngdialog.ngdialog-theme-default.trello-dialog .ngdialog-content {
    width: 550px;
}

.note-row{
    margin: 12px 6px;
}

.note{
    background: #6fb54a;
    font-weight: normal;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    margin-top: 8px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #f2f2f2;
}

.new-note-main-button {
    font-family: "Arial", cursive, sans-serif;
    background: #8cc46e;
    padding: 8px;
    text-align: center;
}

.note-button{
    font-family: "Arial", cursive, sans-serif;
    margin: 5px 0;
    padding: 5px 0;
    width: 150px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.note-edit{
    background: #8080ff;
}

.note-edit-clicked{
    background: #6fb54a;
}
.note-delete{
    background: #ff6666;
}

.new-note-button{
    padding: 5px 10px;
    border-radius: 6px;
    background: #b7daa4;
}
.new-note-button:hover{
    background: #fff;
}

.new-note{
    padding: 10px;
}

.note-input{
    padding: 5px;
    font-size: 1em;
    width: 100%;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

.title-in-list{
    font-size: 16px;
    padding-left: 8px;
}

.description-in-list{
    font-size: 14px;
    padding-left: 24px;
    color: #b7daa4;
}

.title-in-note{
    font-size: 18px;
    padding-bottom: 6px;
}

.description-in-note{
    font-size: 14px;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


